<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17200452397-lukg0vba6clr4udpddnlfptf2l9t7urt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17200452397-lukg0vba6clr4udpddnlfptf2l9t7urt</string>
	<key>API_KEY</key>
	<string>AIzaSyAlmhUwzm8415angV2WDmkjKyo4bW1ElAs</string>
	<key>GCM_SENDER_ID</key>
	<string>17200452397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sattusFirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>sattusflutterexample</string>
	<key>STORAGE_BUCKET</key>
	<string>sattusflutterexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17200452397:ios:cfcb5c7e3bb3417171b9a4</string>
</dict>
</plist>